body {
  font-family: 'Barlow', sans-serif;
}

body:not(.user-is-tabbing) button:focus {
  outline: none;
}

:root {
  --red1: #E01600;
  --red2: #A11000;
  --red3: #940E00;
  --red4: #7A0C00;
  --red5: #540800;
  /*  */
  --gray1: #F0F0F0;
  --gray2: #E3E3E3;
  --gray3: #C9C9C9;
  --gray4: #636363;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--gray4);
}

h1 {
  font-weight: 100;
  letter-spacing: 0.5rem;
}

/* Title area */
#title {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

#btn {
  display: inline-block;
  font-size: 1.1rem;
  padding: 0.9rem 1.5rem;
  margin: 1rem;
  cursor: pointer;
  border: 1px white solid;
  background-color: var(--red4);
  color: white;
  font-weight: 300;
  letter-spacing: 0.10rem;
}

#btn:hover {
  background-color: white;
  color: var(--red1);
  border: 1px var(--red1) dashed;
}

/* Author presentation area */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.author-tile {
  background-color: var(--gray1);
  padding: 1rem;
  margin: 1rem;
  /*  */
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.24);
  /*  */
  border-radius: 0.5rem;
}

div div img {
  display: block;
  margin: auto;
  border-radius: 100%;
  border: 3px white solid;
}

/* highlight box */
.highlight-box {
  text-align: center;
}

.user-title {
  font-weight: 400;
  font-style: italic;
}

.user-value {
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--red2);
  font-family: 'Cinzel', serif;
}

.user-value.name, .user-value.address {
  text-transform: capitalize;
}

.toggle-content {
  display: none;
}

.toggle-content.is-visible {
  display: block;
}

/* ul of headers */
.values-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* li inside the ul of headers */
.values-list li {
  padding: 0.5rem;
}

/* p inside li inside ul of headers */
.values-list li p {
  margin: 0;
  font-size: 1.1rem;
  color: var(--gray3);
}

.values-list li p:hover {
  text-decoration: underline;
  color: #0C1824;
}